.course-filter-bar {
  border: 1px solid $border-color;
  border-radius: 12px;
  box-shadow: $box-shadow;
  color: $title-color;
  padding: 2.2rem;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
