.course-body-cards {
  border: 1px solid $border-color;
  border-radius: 12px;
  color: $title-color;
  padding: 2.2rem;
  margin-top: 50px;
  box-shadow: $box-shadow;

  .card {
    border: 1px solid $border-color;
    border-radius: 25px;
    box-shadow: $box-shadow;
    height: 15vh;
    color: $title-color;
    padding-bottom: 2.2rem;
    margin-top: 50px;
    justify-content: center;

    .card-horizontal {
      display: flex;
      flex: 1 1 auto;
    }

    .card-img-top {
      width: 100%;
      height: 15vh;
      object-fit: cover;
    }

    .card-body {
      justify-content: center;
    }
  }

  .badge-primary {
    background-color: $primary-color;
  }
  .badge-green {
    background-color: $green-color;
    color: $snow-color;
  }
  .badge-yellow {
    background-color: $yellow-color;
  }
}
